.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.textArea {
  width: 100%;
  margin-top: 25px;
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
